In [42]:
import numpy as np
import pandas as pd
inp_coor = pd.read_table(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.1\input_coordinates_7_1.txt',sep = '\t')
x1 = inp_coor["x1"]
x2 = inp_coor["x2"]

In [43]:
L1 = 50
L2 = 57

In [44]:
I = x2 * L1 + x1
I = pd.DataFrame(I)
I.columns = ["index"]
I

      index
0      2766
1       527
2       448
3       148
4      2355
...     ...
1420   2079
1421   1963
1422   1510
1423   1824
1424    283

[1425 rows x 1 columns]

In [45]:
I.to_csv(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.1\output_index_7_1.txt', index = False, header = True)

In [46]:
inp_in = pd.read_table(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.1\input_index_7_1.txt',sep = '\t')
index = inp_in["index"]
index

0       2283
1        332
2       1582
3         55
4        325
        ...
1420    1549
1421    2810
1422     619
1423     942
1424     268
Name: index, Length: 1425, dtype: int64

In [47]:
row = index//L1
col = index%L1

In [48]:
out_coor = pd.DataFrame({"x1":col,"x2":row})
out_coor.to_csv(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.1\output_coordinates_7_1.txt', index = False, header = True, sep = "\t")

In [49]:
multi_coor = pd.read_table(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.2\input_coordinates_7_2.txt',sep = '\t')
x1 = multi_coor["x1"]
x2 = multi_coor["x2"]
x3 = multi_coor["x3"]
x4 = multi_coor["x4"]
x5 = multi_coor["x5"]
x6 = multi_coor["x6"]

In [50]:
L = [4,8,5,9,6,7]
for i in range(1, len(L)):
    L[i] = L[i] * L[i-1]
I = x1 + L[0] * x2 + L[1] * x3 + L[2] * x4 + L[3] * x5 + L[4] * x6
I = pd.DataFrame(I)
I.columns = ["index"]
I.to_csv(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.2\output_index_7_2.txt', index = False, header = True)

In [51]:
multi_index = pd.read_table(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.2\input_index_7_2.txt',sep = '\t')
multi_index = multi_index["index"]

In [52]:
x6 = multi_index // L[4]
res = multi_index % L[4]
x5 = res // L[3]
res = res % L[3]
x4 = res // L[2]
res = res % L[2]
x3 = res // L[1]
res = res % L[1]
x2 = res // L[0]
x1 = res % L[0]
multi_out = pd.DataFrame({"x1":x1,"x2":x2,"x3":x3,"x4":x4,"x5":x5,"x6":x6})
multi_out.to_csv(r'C:\Users\wang\Desktop\NTU\BDS\AY20_MBDS_questions\AY20_MBDS_questions\Question 7\Question 7.2\output_coordinates_7_2.txt', index = False, header = True, sep = "\t")